.student-dashboard {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.profile-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.profile-card img {
    width: 100px;
    border-radius: 10px;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
}

button {
    padding: 8px 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    padding: 8px;
}

.paid { color: green; }
.unpaid { color: red; }
